@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(
      to right top,

      rgba(153, 31, 78, 0.878), rgba(26, 119, 102, 0.556),rgba(19, 25, 175, 0.576)

    ),
    url(../images/bg1.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.child1 {
  margin-left: 20px;
  margin-right: 20px;
}
.h2 {
  color: rgb(255, 219, 73);
  font-size: calc(16px + 1vw);
  font-weight: 100;
  text-shadow: 2px 2px 3px rgb(96, 105, 135);
}
.h1 {
  color: rgb(149, 255, 218);
  font-size: calc(20px + 1vw);
  font-weight: 700;
  text-shadow: 2px 2px 6px rgb(96, 105, 135);

}
h3 {
  color: white;
  font-size: calc(14px + 1vw);
  font-weight: 100;
  text-shadow: 2px 2px 4px rgb(96, 105, 135);

}

.hr {
  width: 30%;
  height: 10px;
  background-image: linear-gradient(
    to right,
    rgb(172, 249, 255),
    rgb(0, 255, 145)
  );
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgb(96, 105, 135);

}
.icon {
  color: rgb(255, 255, 255);
  font-size: calc(10px + 1.5vw) !important;
  margin: 10px 10px;
  text-shadow: 2px 2px 4px rgb(96, 105, 135);
}
.iconText {
  color: white;
  font-size: calc(10px + 1vw);
  text-shadow: 2px 2px 4px rgb(96, 105, 135);

}
.icons,
.childs {
  display: flex;
  justify-content: center;
  flex-shrink: inherit;
  flex-direction: row;
  align-items: center;
}
.childs p {
  font-size: calc(10px + 1vw) !important;
}
.childs {
  margin-bottom: 20px;
}
.btn {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(245, 245, 245, 0);
  transition: 0.4s;
}
.btn a {
  text-decoration: none;
  color: white;
}

.human {
  filter: invert(200);
  transition: 1s;
  max-width: 26vw;
  min-width: 200px;
}
.human:hover {
  transform: rotate(10deg);
}
.reside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh !important;
  box-shadow: 2px 2px 60px 20px #ff076695;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}
.info {
  flex-direction: column;
  justify-content: center;
}
.info h1 {
  text-align: center;
  /* margin: 30px; */

  font-family: "Montserrat", sans-serif;
  color: rgb(153, 25, 63);
  font-size: calc(10px + 2vw);
  font-weight: 600;
  padding-bottom: 100px;
}
.h12 {
  /* text-shadow: 1px 15px 1px rgb(0, 187, 255); */
  font-family: "Glory", sans-serif !important;
  align-items: center;
  margin-top: 10vh;
}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.row .column1{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 98);
    padding: 10px;
    padding-right: 300px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.column1{
    display: flexbox;
    align-items: center;
}
.logos{
    width: 40px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 10px;
}
.cpp{
    background-color: rgb(255, 118, 250);
    width: 550%;
    height: 40px;
    border-radius: 20px;
}
.cs{
    background-color: cyan;
    width: 540%;
    height: 40px;
    border-radius: 20px;
}
.java{
    background-color: rgb(89, 107, 181);
    width: 620%;
    height: 40px;
    border-radius: 20px;
}
.py{
    background-color: rgb(255, 89, 0);
    width: 420%;
    height: 40px;
    border-radius: 20px;
}
.html{
    background-color: rgb(0, 174, 255);
    width: 680%;
    height: 40px;
    border-radius: 20px;
}
.css{
    background-color: rgb(255, 0, 183);
    width: 650%;
    height: 40px;
    border-radius: 20px;
}
.js{
    background-color: rgb(255, 0, 98);
    width: 600%;
    height: 40px;
    border-radius: 20px;
}
.bs{
    background-color: rgb(255, 204, 0);
    width: 680%;
    height: 40px;
    border-radius: 20px;
}
.rjs{
    background-color: rgb(144, 86, 211);
    width: 540%;
    height: 40px;
    border-radius: 20px;
}
.electron{
    background-color: rgb(109, 143, 255);
    width: 590%;
    height: 40px;
    border-radius: 20px;
}
.rn{
    background-color: rgb(255, 134, 54);
    width: 520%;
    height: 40px;
    border-radius: 20px;
}
.btn:hover {
  border: 2px solid rgb(0, 255, 208);
  color: rgb(0, 255, 208);
  border-radius: 10px;
}
.btn a:hover {
  color: rgb(0, 255, 208);
}

.about,
.aboutInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: inherit;
  flex-grow: inherit;
  background-color: black;
  color: rgb(31, 255, 244);
  /* line-height: 1.4em; */
}
.about {
  min-height: 120vh;
  box-shadow: 2px 2px 40px 2px rgb(255, 0, 111);
}
.aboutInfo {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-left: 2px solid rgb(255, 65, 115);
}
.nextHorizontal {
  width: 30%;
  height: 10px;
  background-image: linear-gradient(
    to right,
    rgb(238, 0, 91),
    rgb(60, 65, 187)
  );
  border: none;
  border-radius: 20px;
}
.firstChild {
  /* margin-right: 100px; */
  width: 50%;
}
@media (max-width: 770px){
  .aboutInfo{
    border-left: none;
  }
}
.firstChild h1 {
  font-size: calc(20px + 3vh);
}
.firstChild p {
  font-size: calc(10px + 1vw);
}
@media (max-width: 770px) {
  .firstChild {
    /* margin-right: 100px; */
    width: 100%;
  }
  @media (max-width: 314px) {
    .firstChild p,
    .firstChild h1 {
      text-align: center !important;
    }
  }
}
.bot {
  border: 7px solid;
  border-left-color: rgb(255, 0, 89);
  /* border-top-color: rgb(255, 0, 89); */
  transition: 1s;
  box-shadow: 2px 2px 40px 2px rgb(255, 58, 143);
  /* max-width: 70%; */
  width: calc(100px + 10vw);
}
@media (max-width: 770px) {
  .firstChild p,
  h1 {
    text-align: justify;
  }
  .firstChild hr {
    display: none;
  }
  .bot {
    margin-top: 10px;
  }
}
.bot:hover {
  transform: rotate(360deg);
}

.footerContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(197, 36, 71);
  color: white;
}
.footer div {
  display: flex;
  justify-content: center;
  flex-grow: inherit;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-direction: row;
}
.footer .child1 {
  margin-top: 100px;
  font-weight: 800;
  margin-bottom: 10px;
}
.footer .child2 {
  margin-bottom: 70px;
  font-weight: 800;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  transition: 0.6s;
  font-family: "Raleway", sans-serif !important;
  font-weight: 200;
}
.footer a:hover {
  border-radius: 40px;
  background-color: white;
  color: black;
  font-weight: 900 !important;
}
@media (max-width: 366px) {
    .footer a{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: cyan;
    border-radius: 20px;
}
html::-webkit-scrollbar-track{
    background-color: black;
}